:root {
  --primaryLight: #fef9df;
  --details: #f9df60;
  --main: #484c7f;
  --primaryDark: #fae580;
  --mainBackground: #fff;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jura', sans-serif;
}
body {
  width: 100%;
  color: var(--main);
  background: var(--mainBackground);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}
h2,
h3 {
  text-transform: capitalize;
}
img {
  width: 100%;
  display: block;
}
.main {
  display: flex;
  justify-content: center;
}
.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}

.category-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.category-icon svg {
  width: 2rem;
  height: 2rem;
  margin: 0 0.3rem;
  transform: translateY(25%);
}
.category-btn {
  text-align: center;
  display: block;
  color: var(--main);
  font-size: 1.5rem;
  width: 200px;
  margin: 0.25rem 0.25rem;
  padding: 1rem 1rem;
  background-color: var(--primaryLight);
  border-color: var(--main);
  transition: 0.25s;
  border-radius: 5%;
  outline: none;
  user-select: none;
}
.category-btn:hover {
  transform: translateY(-0.25em);
  cursor: pointer;
}

.active {
  transform: translateY(-0.25em);
  border-color: var(--main);
  box-shadow: var(--darkShadow);
  background-color: var(--details);
  cursor: pointer;
}

.section {
  padding: 1rem 0;
  background-color: #fdf2bf;
}
.form-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--mainBorderRadius);
}
.search {
  display: flex;
  justify-content: center;
}
.search-form {
  width: 100%;
  margin: 0 30px;
  max-width: 40rem;
}
.form-control label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: var(--main);
}
.form-control input {
  outline: 1px solid var(--details);
  width: 100%;
  border: none;
  border-color: transparent;
  background: var(--primaryLight);
  border-radius: var(--mainBorderRadius);
  padding: 0.5rem;
  font-size: 1.2rem;
}
.flowers-center {
  width: 85vw;
  margin: 0 auto;
  max-width: 1500px;
  display: grid;
  justify-items: center;
  row-gap: 2rem;
  column-gap: 2rem;
}
@media screen and (min-width: 576px) {
  .flowers-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}
.flower {
  padding: 0.2rem 0.2rem;
  background-color: var(--primaryLight);
  margin-bottom: 1rem;
  box-shadow: var(--lightShadow);
  transition: all 0.3s linear;
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flower:hover {
  box-shadow: var(--darkShadow);
}
.flower img {
  height: 20rem;
  object-fit: cover;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}
.flower-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flower-footer h3 {
  color: #8a8a8a;
}

/*Single Flower Page*/
.single-page {
  max-width: 1200px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.single-back {
  background-color: var(--primaryDark);
  padding: 0 2rem;
  width: 100%;
  max-width: 40rem;
  color: var(--main);
  font-size: 2rem;
  border-radius: 0.2rem;
}
.details-btn {
  background-color: #fff;
  color: var(--main);
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0.6rem 0;
  padding: 0.2rem 5rem;
  border-radius: 0.2rem;
}
.details-btn:hover {
  background-color: var(--primaryDark);
}

.detail-container {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-container img {
  width: 20rem;
  margin: 0 2rem;
  object-fit: cover;
}
.description {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
}

/*About Page*/
.about-container {
  max-width: 1200px;
  margin: 0 auto;
}
/*LOADER */
/*LOADER */
/*LOADER */
/*LOADER */
/*LOADER */
/*LOADER */
.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: var(--primaryDark);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
